.header {
  padding: 20px 0;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  background: var(--light-blue);
  z-index: 2;
  .menu {
    display: none;
  }
  @media screen and (max-width: 767px) {
    padding: 16px 0;
    margin-bottom: 20px;
    .menu {
      display: flex;
    }
  }
}

svg {
  color: var(--text-color);
}
