.header {
  padding: 32px 0;
  margin-bottom: 40px;
  position: sticky;
  top: 0;
  background: var(--light-blue);
  z-index: 2;
  .menu {
    display: none;
  }
  @media screen and (max-width: 767px) {
    padding: 16px 0;
    margin-bottom: 20px;
    .menu {
      display: flex;
    }
  }
}
.search_form {
  position: relative;
  color: var(--text-color);
  input {
    position: relative;
    background-color: transparent;
    border: 0;
    width: 200px;
    height: 40px;
    padding-left: 50px;
    color: var(--text-color);
  }
  button {
    position: absolute;
    left: 0;
    color: var(--text-color);
  }
}
svg {
  color: var(--text-color);
}
