.search_form {
  position: relative;
  color: var(--text-color);
  input {
    position: relative;
    background-color: transparent;
    border: 0;
    width: 200px;
    height: 40px;
    padding-left: 50px;
    color: var(--text-color);
  }
  button {
    position: absolute;
    left: 0;
    color: var(--text-color);
  }
}
svg {
  color: var(--text-color);
}
