:root {
  scroll-behavior: smooth;
  --my-font: "Open Sans", sans-serif;
  --blue: #1f2a3c;
  --light-blue: #273244;
  --card-color: #394b61;
  --card-radius: 11px;
  --active-color: #00e0ff;
  --text-color: #d4d7dd;
  --border-color: #394b61;
  --transition: all 0.4s ease;
  --white: #fff;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--my-font);
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  transition: var(--transition);
  color: var(--text-color);
}
.flex-center {
  display: flex;
  align-items: center;
}
a.active {
  color: var(--active-color);
  border-right: 3px solid var(--active-color);
  svg {
    color: var(--active-color);
  }
}
.main-container {
  min-height: 100vh;
  background: var(--light-blue);
  display: grid;
  grid-template-columns: auto 1fr;
  .body-container {
    padding: 0 32px 32px 32px;
  }
}
.search_form {
  position: relative;
  color: var(--white);
  border-radius: 8px;
  width: 40px;
  padding: 2px;
  justify-content: space-between;
  transition: var(--transition);
  input {
    position: relative;
    background-color: transparent;
    border: 0;
    width: auto;
    outline: 0 !important;
    font-size: 21px;
    font-weight: 600;
    height: 40px;
    color: var(--white);
    transition: var(--transition);
    display: none;
    &::placeholder {
      color: inherit;
      font-weight: normal;
    }
  }
  .close-btn {
    display: none;
  }
  &.open {
    background: #1a2536;
    width: 450px;
    input {
      display: block;
    }
    .close-btn {
      display: block;
    }
  }

  button {
    // position: absolute;
    left: 0;
    color: inherit;
  }
}
@media screen and (max-width: 767px) {
  .main-container {
    grid-template-columns: 1fr;
    .body-container {
      padding: 0 16px 16px 16px;
    }
    nav {
      position: fixed;
      top: 0;
      width: 240px;
      transition: var(--transition);
      z-index: 222;
      display: none;
      .overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.8);
        transition: var(--transition);
        z-index: 222;
        opacity: 0;
        display: none;
      }
      &.active {
        display: block;
        .nav-container {
          position: relative;
          z-index: 9999;
        }
        .overlay {
          opacity: 1;
          display: block;
        }
      }
    }
  }
}
